{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'user' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages(report) }}

    <div class="content-sm">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('apc-usr.edit', {'id': usr.id}) }}" method="post" novalidate>

            <div class="form-group  {{ vld_style('ref') }}">
                <input class="form-group-item form-group-input" type="text" name="ref" value="{{ usr.ref }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'ref'|trans }}</span></label>
            </div>
            {{ vld_feedback('ref')|raw }}

            <div class="form-group  {{ vld_style('is_active') }}">
                <input class="form-group-item form-group-input" type="text" name="is_active" value="{{ usr.is_active }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'is_active'|trans }}</span></label>
            </div>
            {{ vld_feedback('is_active')|raw }}


            <div class="form-group select {{ vld_style('credential_id') }}">
                <select class="form-group-item form-group-select" name="credential_id" autocomplete="off" required>
                    {% set crd_init = crds[19] %}
                    <option value="{{ crd_init.id }}">{{ attribute(crd_init, 'ref')|trans }}</option>
                    {% for crd in crds %}
                        {% if usr.credential_id == crd.id %}
                            <option value="{{ crd.id }}" selected>{{ attribute(crd, 'ref') }}</option>
                        {% else %}
                            <option value="{{ crd.id }}">{{ attribute(crd, 'ref') }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="name" class="form-group-item form-group-label-select"><span>{{ ('credential')|trans }}</span></label>
            </div>
            {{ vld_feedback('credential_id')|raw }}



            {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('apc-usr.show_all_paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'edit_user'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}